.flex-8us4IE {
  display: flex; }
  .flex-8us4IE.flex-8us4IE-inline-flex {
    display: inline-flex; }
  .flex-8us4IE.flex-8us4IE-wrap {
    flex-wrap: wrap; }
  .flex-8us4IE.flex-8us4IE-fullHeight {
    height: 100%; }
  .flex-8us4IE.flex-8us4IE-fullWidth {
    width: 100%; }
  .flex-8us4IE.flex-8us4IE-center {
    align-items: center;
    justify-content: center; }

.flex-8us4IE-flexDirection-row {
  flex-direction: row; }

.flex-8us4IE-flexDirection-column {
  flex-direction: column; }

.flex-8us4IE-flexDirection-column-reverse {
  flex-direction: column-reverse; }

.flex-8us4IE-alignItems-flex-start {
  align-items: flex-start; }

.flex-8us4IE-alignItems-center {
  align-items: center; }

.flex-8us4IE-alignItems-flex-end {
  align-items: flex-end; }

.flex-8us4IE-alignItems-baseline {
  align-items: baseline; }

.flex-8us4IE-alignItems-stretch {
  align-items: stretch; }

.flex-8us4IE-justifyContent-flex-start {
  justify-content: flex-start; }

.flex-8us4IE-justifyContent-center {
  justify-content: center; }

.flex-8us4IE-justifyContent-flex-end {
  justify-content: flex-end; }

.flex-8us4IE-justifyContent-space-between {
  justify-content: space-between; }

.flex-8us4IE-justifyContent-stretch {
  justify-content: stretch; }

.text-8us4IE-align-left {
  text-align: left; }

.text-8us4IE-align-center {
  text-align: center; }

.text-8us4IE-align-right {
  text-align: right; }

.text-8us4IE-transform-uppercase {
  text-transform: uppercase; }

.text-8us4IE-transform-capitalize {
  text-transform: capitalize; }

.text-8us4IE-transform-lowercase {
  text-transform: lowercase; }

.text-8us4IE-decoration-underline {
  text-decoration: underline; }

.text-8us4IE-decoration-lineThrough {
  text-decoration: line-through; }

.button-8us4IE {
  border-radius: .8rem;
  height: 5.6rem;
  position: relative;
  line-height: normal;
  text-align: center;
  cursor: pointer;
  outline: none;
  border: none;
  text-decoration: none;
  width: 100%; }
  .button-8us4IE-loading {
    opacity: .5;
    pointer-events: none; }
  .button-8us4IE-transform-uppercase {
    text-transform: uppercase; }
  .button-8us4IE-hint {
    width: 100%; }
  .button-8us4IE-link {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: .8rem;
    row-gap: .4rem;
    width: 100%;
    height: 100%; }

.grid-8us4IE {
  display: flex;
  flex-wrap: wrap; }

.grid-8us4IE-1-1 {
  column-gap: 8px;
  row-gap: 8px; }
  .grid-8us4IE-1-1 > * {
    width: calc(( 100% / 1 ) - (((1 * 8px) * (1 - 1) / 1))); }

.grid-8us4IE-1-2 {
  column-gap: 16px;
  row-gap: 16px; }
  .grid-8us4IE-1-2 > * {
    width: calc(( 100% / 1 ) - (((2 * 8px) * (1 - 1) / 1))); }

.grid-8us4IE-1-3 {
  column-gap: 24px;
  row-gap: 24px; }
  .grid-8us4IE-1-3 > * {
    width: calc(( 100% / 1 ) - (((3 * 8px) * (1 - 1) / 1))); }

.grid-8us4IE-1-4 {
  column-gap: 32px;
  row-gap: 32px; }
  .grid-8us4IE-1-4 > * {
    width: calc(( 100% / 1 ) - (((4 * 8px) * (1 - 1) / 1))); }

.grid-8us4IE-1-5 {
  column-gap: 40px;
  row-gap: 40px; }
  .grid-8us4IE-1-5 > * {
    width: calc(( 100% / 1 ) - (((5 * 8px) * (1 - 1) / 1))); }

.grid-8us4IE-1-6 {
  column-gap: 48px;
  row-gap: 48px; }
  .grid-8us4IE-1-6 > * {
    width: calc(( 100% / 1 ) - (((6 * 8px) * (1 - 1) / 1))); }

.grid-8us4IE-1-7 {
  column-gap: 56px;
  row-gap: 56px; }
  .grid-8us4IE-1-7 > * {
    width: calc(( 100% / 1 ) - (((7 * 8px) * (1 - 1) / 1))); }

.grid-8us4IE-1-8 {
  column-gap: 64px;
  row-gap: 64px; }
  .grid-8us4IE-1-8 > * {
    width: calc(( 100% / 1 ) - (((8 * 8px) * (1 - 1) / 1))); }

.grid-8us4IE-1-9 {
  column-gap: 72px;
  row-gap: 72px; }
  .grid-8us4IE-1-9 > * {
    width: calc(( 100% / 1 ) - (((9 * 8px) * (1 - 1) / 1))); }

.grid-8us4IE-1-10 {
  column-gap: 80px;
  row-gap: 80px; }
  .grid-8us4IE-1-10 > * {
    width: calc(( 100% / 1 ) - (((10 * 8px) * (1 - 1) / 1))); }

.grid-8us4IE-1-11 {
  column-gap: 88px;
  row-gap: 88px; }
  .grid-8us4IE-1-11 > * {
    width: calc(( 100% / 1 ) - (((11 * 8px) * (1 - 1) / 1))); }

.grid-8us4IE-1-12 {
  column-gap: 96px;
  row-gap: 96px; }
  .grid-8us4IE-1-12 > * {
    width: calc(( 100% / 1 ) - (((12 * 8px) * (1 - 1) / 1))); }

.grid-8us4IE-2-1 {
  column-gap: 8px;
  row-gap: 8px; }
  .grid-8us4IE-2-1 > * {
    width: calc(( 100% / 2 ) - (((1 * 8px) * (2 - 1) / 2))); }

.grid-8us4IE-2-2 {
  column-gap: 16px;
  row-gap: 16px; }
  .grid-8us4IE-2-2 > * {
    width: calc(( 100% / 2 ) - (((2 * 8px) * (2 - 1) / 2))); }

.grid-8us4IE-2-3 {
  column-gap: 24px;
  row-gap: 24px; }
  .grid-8us4IE-2-3 > * {
    width: calc(( 100% / 2 ) - (((3 * 8px) * (2 - 1) / 2))); }

.grid-8us4IE-2-4 {
  column-gap: 32px;
  row-gap: 32px; }
  .grid-8us4IE-2-4 > * {
    width: calc(( 100% / 2 ) - (((4 * 8px) * (2 - 1) / 2))); }

.grid-8us4IE-2-5 {
  column-gap: 40px;
  row-gap: 40px; }
  .grid-8us4IE-2-5 > * {
    width: calc(( 100% / 2 ) - (((5 * 8px) * (2 - 1) / 2))); }

.grid-8us4IE-2-6 {
  column-gap: 48px;
  row-gap: 48px; }
  .grid-8us4IE-2-6 > * {
    width: calc(( 100% / 2 ) - (((6 * 8px) * (2 - 1) / 2))); }

.grid-8us4IE-2-7 {
  column-gap: 56px;
  row-gap: 56px; }
  .grid-8us4IE-2-7 > * {
    width: calc(( 100% / 2 ) - (((7 * 8px) * (2 - 1) / 2))); }

.grid-8us4IE-2-8 {
  column-gap: 64px;
  row-gap: 64px; }
  .grid-8us4IE-2-8 > * {
    width: calc(( 100% / 2 ) - (((8 * 8px) * (2 - 1) / 2))); }

.grid-8us4IE-2-9 {
  column-gap: 72px;
  row-gap: 72px; }
  .grid-8us4IE-2-9 > * {
    width: calc(( 100% / 2 ) - (((9 * 8px) * (2 - 1) / 2))); }

.grid-8us4IE-2-10 {
  column-gap: 80px;
  row-gap: 80px; }
  .grid-8us4IE-2-10 > * {
    width: calc(( 100% / 2 ) - (((10 * 8px) * (2 - 1) / 2))); }

.grid-8us4IE-2-11 {
  column-gap: 88px;
  row-gap: 88px; }
  .grid-8us4IE-2-11 > * {
    width: calc(( 100% / 2 ) - (((11 * 8px) * (2 - 1) / 2))); }

.grid-8us4IE-2-12 {
  column-gap: 96px;
  row-gap: 96px; }
  .grid-8us4IE-2-12 > * {
    width: calc(( 100% / 2 ) - (((12 * 8px) * (2 - 1) / 2))); }

.grid-8us4IE-3-1 {
  column-gap: 8px;
  row-gap: 8px; }
  .grid-8us4IE-3-1 > * {
    width: calc(( 100% / 3 ) - (((1 * 8px) * (3 - 1) / 3))); }

.grid-8us4IE-3-2 {
  column-gap: 16px;
  row-gap: 16px; }
  .grid-8us4IE-3-2 > * {
    width: calc(( 100% / 3 ) - (((2 * 8px) * (3 - 1) / 3))); }

.grid-8us4IE-3-3 {
  column-gap: 24px;
  row-gap: 24px; }
  .grid-8us4IE-3-3 > * {
    width: calc(( 100% / 3 ) - (((3 * 8px) * (3 - 1) / 3))); }

.grid-8us4IE-3-4 {
  column-gap: 32px;
  row-gap: 32px; }
  .grid-8us4IE-3-4 > * {
    width: calc(( 100% / 3 ) - (((4 * 8px) * (3 - 1) / 3))); }

.grid-8us4IE-3-5 {
  column-gap: 40px;
  row-gap: 40px; }
  .grid-8us4IE-3-5 > * {
    width: calc(( 100% / 3 ) - (((5 * 8px) * (3 - 1) / 3))); }

.grid-8us4IE-3-6 {
  column-gap: 48px;
  row-gap: 48px; }
  .grid-8us4IE-3-6 > * {
    width: calc(( 100% / 3 ) - (((6 * 8px) * (3 - 1) / 3))); }

.grid-8us4IE-3-7 {
  column-gap: 56px;
  row-gap: 56px; }
  .grid-8us4IE-3-7 > * {
    width: calc(( 100% / 3 ) - (((7 * 8px) * (3 - 1) / 3))); }

.grid-8us4IE-3-8 {
  column-gap: 64px;
  row-gap: 64px; }
  .grid-8us4IE-3-8 > * {
    width: calc(( 100% / 3 ) - (((8 * 8px) * (3 - 1) / 3))); }

.grid-8us4IE-3-9 {
  column-gap: 72px;
  row-gap: 72px; }
  .grid-8us4IE-3-9 > * {
    width: calc(( 100% / 3 ) - (((9 * 8px) * (3 - 1) / 3))); }

.grid-8us4IE-3-10 {
  column-gap: 80px;
  row-gap: 80px; }
  .grid-8us4IE-3-10 > * {
    width: calc(( 100% / 3 ) - (((10 * 8px) * (3 - 1) / 3))); }

.grid-8us4IE-3-11 {
  column-gap: 88px;
  row-gap: 88px; }
  .grid-8us4IE-3-11 > * {
    width: calc(( 100% / 3 ) - (((11 * 8px) * (3 - 1) / 3))); }

.grid-8us4IE-3-12 {
  column-gap: 96px;
  row-gap: 96px; }
  .grid-8us4IE-3-12 > * {
    width: calc(( 100% / 3 ) - (((12 * 8px) * (3 - 1) / 3))); }

.grid-8us4IE-4-1 {
  column-gap: 8px;
  row-gap: 8px; }
  .grid-8us4IE-4-1 > * {
    width: calc(( 100% / 4 ) - (((1 * 8px) * (4 - 1) / 4))); }

.grid-8us4IE-4-2 {
  column-gap: 16px;
  row-gap: 16px; }
  .grid-8us4IE-4-2 > * {
    width: calc(( 100% / 4 ) - (((2 * 8px) * (4 - 1) / 4))); }

.grid-8us4IE-4-3 {
  column-gap: 24px;
  row-gap: 24px; }
  .grid-8us4IE-4-3 > * {
    width: calc(( 100% / 4 ) - (((3 * 8px) * (4 - 1) / 4))); }

.grid-8us4IE-4-4 {
  column-gap: 32px;
  row-gap: 32px; }
  .grid-8us4IE-4-4 > * {
    width: calc(( 100% / 4 ) - (((4 * 8px) * (4 - 1) / 4))); }

.grid-8us4IE-4-5 {
  column-gap: 40px;
  row-gap: 40px; }
  .grid-8us4IE-4-5 > * {
    width: calc(( 100% / 4 ) - (((5 * 8px) * (4 - 1) / 4))); }

.grid-8us4IE-4-6 {
  column-gap: 48px;
  row-gap: 48px; }
  .grid-8us4IE-4-6 > * {
    width: calc(( 100% / 4 ) - (((6 * 8px) * (4 - 1) / 4))); }

.grid-8us4IE-4-7 {
  column-gap: 56px;
  row-gap: 56px; }
  .grid-8us4IE-4-7 > * {
    width: calc(( 100% / 4 ) - (((7 * 8px) * (4 - 1) / 4))); }

.grid-8us4IE-4-8 {
  column-gap: 64px;
  row-gap: 64px; }
  .grid-8us4IE-4-8 > * {
    width: calc(( 100% / 4 ) - (((8 * 8px) * (4 - 1) / 4))); }

.grid-8us4IE-4-9 {
  column-gap: 72px;
  row-gap: 72px; }
  .grid-8us4IE-4-9 > * {
    width: calc(( 100% / 4 ) - (((9 * 8px) * (4 - 1) / 4))); }

.grid-8us4IE-4-10 {
  column-gap: 80px;
  row-gap: 80px; }
  .grid-8us4IE-4-10 > * {
    width: calc(( 100% / 4 ) - (((10 * 8px) * (4 - 1) / 4))); }

.grid-8us4IE-4-11 {
  column-gap: 88px;
  row-gap: 88px; }
  .grid-8us4IE-4-11 > * {
    width: calc(( 100% / 4 ) - (((11 * 8px) * (4 - 1) / 4))); }

.grid-8us4IE-4-12 {
  column-gap: 96px;
  row-gap: 96px; }
  .grid-8us4IE-4-12 > * {
    width: calc(( 100% / 4 ) - (((12 * 8px) * (4 - 1) / 4))); }

.grid-8us4IE-5-1 {
  column-gap: 8px;
  row-gap: 8px; }
  .grid-8us4IE-5-1 > * {
    width: calc(( 100% / 5 ) - (((1 * 8px) * (5 - 1) / 5))); }

.grid-8us4IE-5-2 {
  column-gap: 16px;
  row-gap: 16px; }
  .grid-8us4IE-5-2 > * {
    width: calc(( 100% / 5 ) - (((2 * 8px) * (5 - 1) / 5))); }

.grid-8us4IE-5-3 {
  column-gap: 24px;
  row-gap: 24px; }
  .grid-8us4IE-5-3 > * {
    width: calc(( 100% / 5 ) - (((3 * 8px) * (5 - 1) / 5))); }

.grid-8us4IE-5-4 {
  column-gap: 32px;
  row-gap: 32px; }
  .grid-8us4IE-5-4 > * {
    width: calc(( 100% / 5 ) - (((4 * 8px) * (5 - 1) / 5))); }

.grid-8us4IE-5-5 {
  column-gap: 40px;
  row-gap: 40px; }
  .grid-8us4IE-5-5 > * {
    width: calc(( 100% / 5 ) - (((5 * 8px) * (5 - 1) / 5))); }

.grid-8us4IE-5-6 {
  column-gap: 48px;
  row-gap: 48px; }
  .grid-8us4IE-5-6 > * {
    width: calc(( 100% / 5 ) - (((6 * 8px) * (5 - 1) / 5))); }

.grid-8us4IE-5-7 {
  column-gap: 56px;
  row-gap: 56px; }
  .grid-8us4IE-5-7 > * {
    width: calc(( 100% / 5 ) - (((7 * 8px) * (5 - 1) / 5))); }

.grid-8us4IE-5-8 {
  column-gap: 64px;
  row-gap: 64px; }
  .grid-8us4IE-5-8 > * {
    width: calc(( 100% / 5 ) - (((8 * 8px) * (5 - 1) / 5))); }

.grid-8us4IE-5-9 {
  column-gap: 72px;
  row-gap: 72px; }
  .grid-8us4IE-5-9 > * {
    width: calc(( 100% / 5 ) - (((9 * 8px) * (5 - 1) / 5))); }

.grid-8us4IE-5-10 {
  column-gap: 80px;
  row-gap: 80px; }
  .grid-8us4IE-5-10 > * {
    width: calc(( 100% / 5 ) - (((10 * 8px) * (5 - 1) / 5))); }

.grid-8us4IE-5-11 {
  column-gap: 88px;
  row-gap: 88px; }
  .grid-8us4IE-5-11 > * {
    width: calc(( 100% / 5 ) - (((11 * 8px) * (5 - 1) / 5))); }

.grid-8us4IE-5-12 {
  column-gap: 96px;
  row-gap: 96px; }
  .grid-8us4IE-5-12 > * {
    width: calc(( 100% / 5 ) - (((12 * 8px) * (5 - 1) / 5))); }

.grid-8us4IE-6-1 {
  column-gap: 8px;
  row-gap: 8px; }
  .grid-8us4IE-6-1 > * {
    width: calc(( 100% / 6 ) - (((1 * 8px) * (6 - 1) / 6))); }

.grid-8us4IE-6-2 {
  column-gap: 16px;
  row-gap: 16px; }
  .grid-8us4IE-6-2 > * {
    width: calc(( 100% / 6 ) - (((2 * 8px) * (6 - 1) / 6))); }

.grid-8us4IE-6-3 {
  column-gap: 24px;
  row-gap: 24px; }
  .grid-8us4IE-6-3 > * {
    width: calc(( 100% / 6 ) - (((3 * 8px) * (6 - 1) / 6))); }

.grid-8us4IE-6-4 {
  column-gap: 32px;
  row-gap: 32px; }
  .grid-8us4IE-6-4 > * {
    width: calc(( 100% / 6 ) - (((4 * 8px) * (6 - 1) / 6))); }

.grid-8us4IE-6-5 {
  column-gap: 40px;
  row-gap: 40px; }
  .grid-8us4IE-6-5 > * {
    width: calc(( 100% / 6 ) - (((5 * 8px) * (6 - 1) / 6))); }

.grid-8us4IE-6-6 {
  column-gap: 48px;
  row-gap: 48px; }
  .grid-8us4IE-6-6 > * {
    width: calc(( 100% / 6 ) - (((6 * 8px) * (6 - 1) / 6))); }

.grid-8us4IE-6-7 {
  column-gap: 56px;
  row-gap: 56px; }
  .grid-8us4IE-6-7 > * {
    width: calc(( 100% / 6 ) - (((7 * 8px) * (6 - 1) / 6))); }

.grid-8us4IE-6-8 {
  column-gap: 64px;
  row-gap: 64px; }
  .grid-8us4IE-6-8 > * {
    width: calc(( 100% / 6 ) - (((8 * 8px) * (6 - 1) / 6))); }

.grid-8us4IE-6-9 {
  column-gap: 72px;
  row-gap: 72px; }
  .grid-8us4IE-6-9 > * {
    width: calc(( 100% / 6 ) - (((9 * 8px) * (6 - 1) / 6))); }

.grid-8us4IE-6-10 {
  column-gap: 80px;
  row-gap: 80px; }
  .grid-8us4IE-6-10 > * {
    width: calc(( 100% / 6 ) - (((10 * 8px) * (6 - 1) / 6))); }

.grid-8us4IE-6-11 {
  column-gap: 88px;
  row-gap: 88px; }
  .grid-8us4IE-6-11 > * {
    width: calc(( 100% / 6 ) - (((11 * 8px) * (6 - 1) / 6))); }

.grid-8us4IE-6-12 {
  column-gap: 96px;
  row-gap: 96px; }
  .grid-8us4IE-6-12 > * {
    width: calc(( 100% / 6 ) - (((12 * 8px) * (6 - 1) / 6))); }

.grid-8us4IE-7-1 {
  column-gap: 8px;
  row-gap: 8px; }
  .grid-8us4IE-7-1 > * {
    width: calc(( 100% / 7 ) - (((1 * 8px) * (7 - 1) / 7))); }

.grid-8us4IE-7-2 {
  column-gap: 16px;
  row-gap: 16px; }
  .grid-8us4IE-7-2 > * {
    width: calc(( 100% / 7 ) - (((2 * 8px) * (7 - 1) / 7))); }

.grid-8us4IE-7-3 {
  column-gap: 24px;
  row-gap: 24px; }
  .grid-8us4IE-7-3 > * {
    width: calc(( 100% / 7 ) - (((3 * 8px) * (7 - 1) / 7))); }

.grid-8us4IE-7-4 {
  column-gap: 32px;
  row-gap: 32px; }
  .grid-8us4IE-7-4 > * {
    width: calc(( 100% / 7 ) - (((4 * 8px) * (7 - 1) / 7))); }

.grid-8us4IE-7-5 {
  column-gap: 40px;
  row-gap: 40px; }
  .grid-8us4IE-7-5 > * {
    width: calc(( 100% / 7 ) - (((5 * 8px) * (7 - 1) / 7))); }

.grid-8us4IE-7-6 {
  column-gap: 48px;
  row-gap: 48px; }
  .grid-8us4IE-7-6 > * {
    width: calc(( 100% / 7 ) - (((6 * 8px) * (7 - 1) / 7))); }

.grid-8us4IE-7-7 {
  column-gap: 56px;
  row-gap: 56px; }
  .grid-8us4IE-7-7 > * {
    width: calc(( 100% / 7 ) - (((7 * 8px) * (7 - 1) / 7))); }

.grid-8us4IE-7-8 {
  column-gap: 64px;
  row-gap: 64px; }
  .grid-8us4IE-7-8 > * {
    width: calc(( 100% / 7 ) - (((8 * 8px) * (7 - 1) / 7))); }

.grid-8us4IE-7-9 {
  column-gap: 72px;
  row-gap: 72px; }
  .grid-8us4IE-7-9 > * {
    width: calc(( 100% / 7 ) - (((9 * 8px) * (7 - 1) / 7))); }

.grid-8us4IE-7-10 {
  column-gap: 80px;
  row-gap: 80px; }
  .grid-8us4IE-7-10 > * {
    width: calc(( 100% / 7 ) - (((10 * 8px) * (7 - 1) / 7))); }

.grid-8us4IE-7-11 {
  column-gap: 88px;
  row-gap: 88px; }
  .grid-8us4IE-7-11 > * {
    width: calc(( 100% / 7 ) - (((11 * 8px) * (7 - 1) / 7))); }

.grid-8us4IE-7-12 {
  column-gap: 96px;
  row-gap: 96px; }
  .grid-8us4IE-7-12 > * {
    width: calc(( 100% / 7 ) - (((12 * 8px) * (7 - 1) / 7))); }

.grid-8us4IE-8-1 {
  column-gap: 8px;
  row-gap: 8px; }
  .grid-8us4IE-8-1 > * {
    width: calc(( 100% / 8 ) - (((1 * 8px) * (8 - 1) / 8))); }

.grid-8us4IE-8-2 {
  column-gap: 16px;
  row-gap: 16px; }
  .grid-8us4IE-8-2 > * {
    width: calc(( 100% / 8 ) - (((2 * 8px) * (8 - 1) / 8))); }

.grid-8us4IE-8-3 {
  column-gap: 24px;
  row-gap: 24px; }
  .grid-8us4IE-8-3 > * {
    width: calc(( 100% / 8 ) - (((3 * 8px) * (8 - 1) / 8))); }

.grid-8us4IE-8-4 {
  column-gap: 32px;
  row-gap: 32px; }
  .grid-8us4IE-8-4 > * {
    width: calc(( 100% / 8 ) - (((4 * 8px) * (8 - 1) / 8))); }

.grid-8us4IE-8-5 {
  column-gap: 40px;
  row-gap: 40px; }
  .grid-8us4IE-8-5 > * {
    width: calc(( 100% / 8 ) - (((5 * 8px) * (8 - 1) / 8))); }

.grid-8us4IE-8-6 {
  column-gap: 48px;
  row-gap: 48px; }
  .grid-8us4IE-8-6 > * {
    width: calc(( 100% / 8 ) - (((6 * 8px) * (8 - 1) / 8))); }

.grid-8us4IE-8-7 {
  column-gap: 56px;
  row-gap: 56px; }
  .grid-8us4IE-8-7 > * {
    width: calc(( 100% / 8 ) - (((7 * 8px) * (8 - 1) / 8))); }

.grid-8us4IE-8-8 {
  column-gap: 64px;
  row-gap: 64px; }
  .grid-8us4IE-8-8 > * {
    width: calc(( 100% / 8 ) - (((8 * 8px) * (8 - 1) / 8))); }

.grid-8us4IE-8-9 {
  column-gap: 72px;
  row-gap: 72px; }
  .grid-8us4IE-8-9 > * {
    width: calc(( 100% / 8 ) - (((9 * 8px) * (8 - 1) / 8))); }

.grid-8us4IE-8-10 {
  column-gap: 80px;
  row-gap: 80px; }
  .grid-8us4IE-8-10 > * {
    width: calc(( 100% / 8 ) - (((10 * 8px) * (8 - 1) / 8))); }

.grid-8us4IE-8-11 {
  column-gap: 88px;
  row-gap: 88px; }
  .grid-8us4IE-8-11 > * {
    width: calc(( 100% / 8 ) - (((11 * 8px) * (8 - 1) / 8))); }

.grid-8us4IE-8-12 {
  column-gap: 96px;
  row-gap: 96px; }
  .grid-8us4IE-8-12 > * {
    width: calc(( 100% / 8 ) - (((12 * 8px) * (8 - 1) / 8))); }

.grid-8us4IE-9-1 {
  column-gap: 8px;
  row-gap: 8px; }
  .grid-8us4IE-9-1 > * {
    width: calc(( 100% / 9 ) - (((1 * 8px) * (9 - 1) / 9))); }

.grid-8us4IE-9-2 {
  column-gap: 16px;
  row-gap: 16px; }
  .grid-8us4IE-9-2 > * {
    width: calc(( 100% / 9 ) - (((2 * 8px) * (9 - 1) / 9))); }

.grid-8us4IE-9-3 {
  column-gap: 24px;
  row-gap: 24px; }
  .grid-8us4IE-9-3 > * {
    width: calc(( 100% / 9 ) - (((3 * 8px) * (9 - 1) / 9))); }

.grid-8us4IE-9-4 {
  column-gap: 32px;
  row-gap: 32px; }
  .grid-8us4IE-9-4 > * {
    width: calc(( 100% / 9 ) - (((4 * 8px) * (9 - 1) / 9))); }

.grid-8us4IE-9-5 {
  column-gap: 40px;
  row-gap: 40px; }
  .grid-8us4IE-9-5 > * {
    width: calc(( 100% / 9 ) - (((5 * 8px) * (9 - 1) / 9))); }

.grid-8us4IE-9-6 {
  column-gap: 48px;
  row-gap: 48px; }
  .grid-8us4IE-9-6 > * {
    width: calc(( 100% / 9 ) - (((6 * 8px) * (9 - 1) / 9))); }

.grid-8us4IE-9-7 {
  column-gap: 56px;
  row-gap: 56px; }
  .grid-8us4IE-9-7 > * {
    width: calc(( 100% / 9 ) - (((7 * 8px) * (9 - 1) / 9))); }

.grid-8us4IE-9-8 {
  column-gap: 64px;
  row-gap: 64px; }
  .grid-8us4IE-9-8 > * {
    width: calc(( 100% / 9 ) - (((8 * 8px) * (9 - 1) / 9))); }

.grid-8us4IE-9-9 {
  column-gap: 72px;
  row-gap: 72px; }
  .grid-8us4IE-9-9 > * {
    width: calc(( 100% / 9 ) - (((9 * 8px) * (9 - 1) / 9))); }

.grid-8us4IE-9-10 {
  column-gap: 80px;
  row-gap: 80px; }
  .grid-8us4IE-9-10 > * {
    width: calc(( 100% / 9 ) - (((10 * 8px) * (9 - 1) / 9))); }

.grid-8us4IE-9-11 {
  column-gap: 88px;
  row-gap: 88px; }
  .grid-8us4IE-9-11 > * {
    width: calc(( 100% / 9 ) - (((11 * 8px) * (9 - 1) / 9))); }

.grid-8us4IE-9-12 {
  column-gap: 96px;
  row-gap: 96px; }
  .grid-8us4IE-9-12 > * {
    width: calc(( 100% / 9 ) - (((12 * 8px) * (9 - 1) / 9))); }

.grid-8us4IE-10-1 {
  column-gap: 8px;
  row-gap: 8px; }
  .grid-8us4IE-10-1 > * {
    width: calc(( 100% / 10 ) - (((1 * 8px) * (10 - 1) / 10))); }

.grid-8us4IE-10-2 {
  column-gap: 16px;
  row-gap: 16px; }
  .grid-8us4IE-10-2 > * {
    width: calc(( 100% / 10 ) - (((2 * 8px) * (10 - 1) / 10))); }

.grid-8us4IE-10-3 {
  column-gap: 24px;
  row-gap: 24px; }
  .grid-8us4IE-10-3 > * {
    width: calc(( 100% / 10 ) - (((3 * 8px) * (10 - 1) / 10))); }

.grid-8us4IE-10-4 {
  column-gap: 32px;
  row-gap: 32px; }
  .grid-8us4IE-10-4 > * {
    width: calc(( 100% / 10 ) - (((4 * 8px) * (10 - 1) / 10))); }

.grid-8us4IE-10-5 {
  column-gap: 40px;
  row-gap: 40px; }
  .grid-8us4IE-10-5 > * {
    width: calc(( 100% / 10 ) - (((5 * 8px) * (10 - 1) / 10))); }

.grid-8us4IE-10-6 {
  column-gap: 48px;
  row-gap: 48px; }
  .grid-8us4IE-10-6 > * {
    width: calc(( 100% / 10 ) - (((6 * 8px) * (10 - 1) / 10))); }

.grid-8us4IE-10-7 {
  column-gap: 56px;
  row-gap: 56px; }
  .grid-8us4IE-10-7 > * {
    width: calc(( 100% / 10 ) - (((7 * 8px) * (10 - 1) / 10))); }

.grid-8us4IE-10-8 {
  column-gap: 64px;
  row-gap: 64px; }
  .grid-8us4IE-10-8 > * {
    width: calc(( 100% / 10 ) - (((8 * 8px) * (10 - 1) / 10))); }

.grid-8us4IE-10-9 {
  column-gap: 72px;
  row-gap: 72px; }
  .grid-8us4IE-10-9 > * {
    width: calc(( 100% / 10 ) - (((9 * 8px) * (10 - 1) / 10))); }

.grid-8us4IE-10-10 {
  column-gap: 80px;
  row-gap: 80px; }
  .grid-8us4IE-10-10 > * {
    width: calc(( 100% / 10 ) - (((10 * 8px) * (10 - 1) / 10))); }

.grid-8us4IE-10-11 {
  column-gap: 88px;
  row-gap: 88px; }
  .grid-8us4IE-10-11 > * {
    width: calc(( 100% / 10 ) - (((11 * 8px) * (10 - 1) / 10))); }

.grid-8us4IE-10-12 {
  column-gap: 96px;
  row-gap: 96px; }
  .grid-8us4IE-10-12 > * {
    width: calc(( 100% / 10 ) - (((12 * 8px) * (10 - 1) / 10))); }

.grid-8us4IE-11-1 {
  column-gap: 8px;
  row-gap: 8px; }
  .grid-8us4IE-11-1 > * {
    width: calc(( 100% / 11 ) - (((1 * 8px) * (11 - 1) / 11))); }

.grid-8us4IE-11-2 {
  column-gap: 16px;
  row-gap: 16px; }
  .grid-8us4IE-11-2 > * {
    width: calc(( 100% / 11 ) - (((2 * 8px) * (11 - 1) / 11))); }

.grid-8us4IE-11-3 {
  column-gap: 24px;
  row-gap: 24px; }
  .grid-8us4IE-11-3 > * {
    width: calc(( 100% / 11 ) - (((3 * 8px) * (11 - 1) / 11))); }

.grid-8us4IE-11-4 {
  column-gap: 32px;
  row-gap: 32px; }
  .grid-8us4IE-11-4 > * {
    width: calc(( 100% / 11 ) - (((4 * 8px) * (11 - 1) / 11))); }

.grid-8us4IE-11-5 {
  column-gap: 40px;
  row-gap: 40px; }
  .grid-8us4IE-11-5 > * {
    width: calc(( 100% / 11 ) - (((5 * 8px) * (11 - 1) / 11))); }

.grid-8us4IE-11-6 {
  column-gap: 48px;
  row-gap: 48px; }
  .grid-8us4IE-11-6 > * {
    width: calc(( 100% / 11 ) - (((6 * 8px) * (11 - 1) / 11))); }

.grid-8us4IE-11-7 {
  column-gap: 56px;
  row-gap: 56px; }
  .grid-8us4IE-11-7 > * {
    width: calc(( 100% / 11 ) - (((7 * 8px) * (11 - 1) / 11))); }

.grid-8us4IE-11-8 {
  column-gap: 64px;
  row-gap: 64px; }
  .grid-8us4IE-11-8 > * {
    width: calc(( 100% / 11 ) - (((8 * 8px) * (11 - 1) / 11))); }

.grid-8us4IE-11-9 {
  column-gap: 72px;
  row-gap: 72px; }
  .grid-8us4IE-11-9 > * {
    width: calc(( 100% / 11 ) - (((9 * 8px) * (11 - 1) / 11))); }

.grid-8us4IE-11-10 {
  column-gap: 80px;
  row-gap: 80px; }
  .grid-8us4IE-11-10 > * {
    width: calc(( 100% / 11 ) - (((10 * 8px) * (11 - 1) / 11))); }

.grid-8us4IE-11-11 {
  column-gap: 88px;
  row-gap: 88px; }
  .grid-8us4IE-11-11 > * {
    width: calc(( 100% / 11 ) - (((11 * 8px) * (11 - 1) / 11))); }

.grid-8us4IE-11-12 {
  column-gap: 96px;
  row-gap: 96px; }
  .grid-8us4IE-11-12 > * {
    width: calc(( 100% / 11 ) - (((12 * 8px) * (11 - 1) / 11))); }

.grid-8us4IE-12-1 {
  column-gap: 8px;
  row-gap: 8px; }
  .grid-8us4IE-12-1 > * {
    width: calc(( 100% / 12 ) - (((1 * 8px) * (12 - 1) / 12))); }

.grid-8us4IE-12-2 {
  column-gap: 16px;
  row-gap: 16px; }
  .grid-8us4IE-12-2 > * {
    width: calc(( 100% / 12 ) - (((2 * 8px) * (12 - 1) / 12))); }

.grid-8us4IE-12-3 {
  column-gap: 24px;
  row-gap: 24px; }
  .grid-8us4IE-12-3 > * {
    width: calc(( 100% / 12 ) - (((3 * 8px) * (12 - 1) / 12))); }

.grid-8us4IE-12-4 {
  column-gap: 32px;
  row-gap: 32px; }
  .grid-8us4IE-12-4 > * {
    width: calc(( 100% / 12 ) - (((4 * 8px) * (12 - 1) / 12))); }

.grid-8us4IE-12-5 {
  column-gap: 40px;
  row-gap: 40px; }
  .grid-8us4IE-12-5 > * {
    width: calc(( 100% / 12 ) - (((5 * 8px) * (12 - 1) / 12))); }

.grid-8us4IE-12-6 {
  column-gap: 48px;
  row-gap: 48px; }
  .grid-8us4IE-12-6 > * {
    width: calc(( 100% / 12 ) - (((6 * 8px) * (12 - 1) / 12))); }

.grid-8us4IE-12-7 {
  column-gap: 56px;
  row-gap: 56px; }
  .grid-8us4IE-12-7 > * {
    width: calc(( 100% / 12 ) - (((7 * 8px) * (12 - 1) / 12))); }

.grid-8us4IE-12-8 {
  column-gap: 64px;
  row-gap: 64px; }
  .grid-8us4IE-12-8 > * {
    width: calc(( 100% / 12 ) - (((8 * 8px) * (12 - 1) / 12))); }

.grid-8us4IE-12-9 {
  column-gap: 72px;
  row-gap: 72px; }
  .grid-8us4IE-12-9 > * {
    width: calc(( 100% / 12 ) - (((9 * 8px) * (12 - 1) / 12))); }

.grid-8us4IE-12-10 {
  column-gap: 80px;
  row-gap: 80px; }
  .grid-8us4IE-12-10 > * {
    width: calc(( 100% / 12 ) - (((10 * 8px) * (12 - 1) / 12))); }

.grid-8us4IE-12-11 {
  column-gap: 88px;
  row-gap: 88px; }
  .grid-8us4IE-12-11 > * {
    width: calc(( 100% / 12 ) - (((11 * 8px) * (12 - 1) / 12))); }

.grid-8us4IE-12-12 {
  column-gap: 96px;
  row-gap: 96px; }
  .grid-8us4IE-12-12 > * {
    width: calc(( 100% / 12 ) - (((12 * 8px) * (12 - 1) / 12))); }

@media screen and (max-width: 1168px) {
  .grid-8us4IE-1-1 {
    row-gap: 8px;
    margin-right: 0; }
    .grid-8us4IE-1-1 > * {
      width: 100%; }
  .grid-8us4IE-1-2 {
    row-gap: 16px;
    margin-right: 0; }
    .grid-8us4IE-1-2 > * {
      width: 100%; }
  .grid-8us4IE-1-3 {
    row-gap: 24px;
    margin-right: 0; }
    .grid-8us4IE-1-3 > * {
      width: 100%; }
  .grid-8us4IE-1-4 {
    row-gap: 32px;
    margin-right: 0; }
    .grid-8us4IE-1-4 > * {
      width: 100%; }
  .grid-8us4IE-1-5 {
    row-gap: 40px;
    margin-right: 0; }
    .grid-8us4IE-1-5 > * {
      width: 100%; }
  .grid-8us4IE-1-6 {
    row-gap: 48px;
    margin-right: 0; }
    .grid-8us4IE-1-6 > * {
      width: 100%; }
  .grid-8us4IE-1-7 {
    row-gap: 56px;
    margin-right: 0; }
    .grid-8us4IE-1-7 > * {
      width: 100%; }
  .grid-8us4IE-1-8 {
    row-gap: 64px;
    margin-right: 0; }
    .grid-8us4IE-1-8 > * {
      width: 100%; }
  .grid-8us4IE-1-9 {
    row-gap: 72px;
    margin-right: 0; }
    .grid-8us4IE-1-9 > * {
      width: 100%; }
  .grid-8us4IE-1-10 {
    row-gap: 80px;
    margin-right: 0; }
    .grid-8us4IE-1-10 > * {
      width: 100%; }
  .grid-8us4IE-1-11 {
    row-gap: 88px;
    margin-right: 0; }
    .grid-8us4IE-1-11 > * {
      width: 100%; }
  .grid-8us4IE-1-12 {
    row-gap: 96px;
    margin-right: 0; }
    .grid-8us4IE-1-12 > * {
      width: 100%; } }
